.header {
    position: absolute;
    text-align: end;
    width: 100%;
    padding: 2%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout {
    border: none;
    background: transparent;
    color: dodgerblue;
}